{% extends "base.html" %}
{% block content %}
    <h3>What is it?</h3>
    <p>
    This is online PEP8 checker. Just paste your code and see results.
    </p>
    <h3>How it is work?</h3>
    <p>
    It's built with great python framework for backend <a href="http://flask.pocoo.org/">Flask</a>.
    For UI i used <a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a>.
    And <a href="https://github.com/jcrocholl/pep8/">pep8 module</a> for checking.
    </p>
    <h3>Why?</h3>
    <p>Just interesting.</p>
    <h3>Where?</h3>
    <p>All source <a href="https://github.com/Bryukh/pep8online">here</a></p>
    <h3>Who?</h3>
    <p>
    My name is <a href="http://bryukh.com">Valentin Bryukhanov</a>. Developer, freelancer and ingeneer.
    I like Python, but using other technologies.
    </p>
{% endblock %}