<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru-ru"/>
    <meta name="keywords" content="pep8, online checker, tools, python" />
    <meta name="description" content="PEP8 online checker">
    <meta name='yandex-verification' content='76e1922eb437195d' />

    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="/">Check code</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="about">About</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="page-header">
        <h2>PEP8 online</h2>
        <h4>Check your code for PEP8 requirements</h4>
    </div>
</div>
<div class="container">
    {% block content %}

        {% endblock %}
</div>
<div class="container">
    <hr>
    <footer class="footer">
        <div class="span6">
            Built by <a href="http://bruykh.com">Valentin Bryukhanov</a>.<br>
            Designed with Twitter Bootstrap.
            Powered by <a href="http://flask.pocoo.org/">Flask</a>.<br>
            Icons from Glyphicons Free.<br>
            &nbsp;
        </div>
    </footer>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34569555-2']);
    _gaq.push(['_setDomainName', 'pep8online.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>