{% extends "base.html" %}
{% block content %}

    <form name="code_form" action="/checkresult" method="POST">
        <div class="span12">
            <h3>Just paste your code here</h3>
            <label for="code">
                <input type="hidden" id="code" name="code" value="">
            </label>
            <pre id="editor" style="padding: 0px;"></pre>
            <script src="/static/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor");
                var textarea = document.getElementById('code');
                editor.setTheme("ace/theme/chrome");
                editor.getSession().setMode("ace/mode/python");
                editor.getSession().on('change', function(){
                    textarea.value = editor.getSession().getValue();
                });
            </script>
            <button type="submit" class="btn span3">Check code</button>
        </div>
    </form>

{% endblock %}